/*place global styles here */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
    font-family: "Kokoro";
    src: url("/fonts/Kokoro/Kokoro-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html,
body {
	@apply h-full;
	font-family: "Rubik","Inter",serif;
}
